<mat-grid-list cols="1" *ngIf="!character; else divCharacter">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #divCharacter>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50">
      <h1>
        {{character.name}}
        -
        <small>{{character.description || "This heroe has not description"}}</small>
      </h1>
      <mat-divider></mat-divider>
      <img mat-card-image [src]="character.thumbnail | characterImage" [alt]="character.name">
    </div>
  </div>
  <button mat-button color="warn" (click)="comeback()">Come back</button>
</ng-template>
