.character-card {
  background-color: #7fc9ff;
  border-radius: 0.4rem;
  margin-top: 20px;
  overflow: hidden;

  &__image {
    height: auto;
    transition: all 0.3s ease;
    width: 100%;
  }

  &__body {
    background-color: #212121;
    padding: 1.6rem;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__detail {
    background: #1a782e;
    border-radius: 0.4rem;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    padding: 0.6rem;

    &:hover {
      box-shadow: 0 1px 8px #1a782ec2;
      transform: translateY(-2px);
    }
  }

  :hover &__image {
    transform: scale(1.05);
  }

  @media screen and (min-width: 990px) {
    &__image {
      height: 30rem;
    }
  }
}
