/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 1.6rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 3.2rem;
  }
}

@media screen and (min-width: 990px) {
  .container {
    padding: 4.2rem;
  }
}
