/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  padding: 1.6rem;
}

.ngx-pagination {
  padding-left: 0 !important;
}

.ngx-pagination .disabled {
  color: #fff !important;
}

.ngx-pagination li {
  margin: 0 0.2rem !important;
}

.ngx-pagination a,
.ngx-pagination button {
  color: #17a2b8 !important;
  background: transparent !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  color: #fff !important;
}

.ngx-pagination .current,
.btn-info {
  background: #7fc9ff !important;
  border: transparent !important;
  border-radius: 2rem !important;
}

.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 2rem !important;
  border: transparent !important;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1.6rem 3.2rem 3.2rem 3.2rem;
  }
}

@media screen and (min-width: 990px) {
  .container {
    padding: 1.6rem 4.2rem 4.2rem 4.2rem;
  }
}
